@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.homain{
    background-color: #ffffff;
    overflow-x: hidden;
    margin-left: -1%;
    margin-top: -1%;
    width: stretch;
    margin-right: -1%;
    height: 840px;
}
.homn{  
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.hocont{
    display: flex;
    gap: 50px;
}
.horiz{
    width: 720px;
    height: 685px;
    border-radius: 30px;
    background-color: rgb(237, 226, 249);
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-left: 50px;
    padding-top: 100px;
}
.hm1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.hm1 p:hover {
    transform: scale(1.05);
    color: rgb(213, 130, 238);
    border-right: 3px solid rgb(213, 130, 238);
}
.hm1 p{
    margin-top: -1.5%;
    color: rgb(129, 129, 129);
    font-weight: 300;
    transition: 400ms;
    width: 200px;
   
}
.icnm{
    color: rgb(91, 91, 91);
    transition: 400ms;
}
.icnm:hover{
    transform: scale(1.1);
    color: rgb(213, 130, 238);
}
.mh1{
    font-size: 35px;
    margin-top: -10%;
    font-weight: 600;
}
.horem{
    background-color: white;
    height: 140px;
    width: 630px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: -11%;
}
.hotask{
    height: 400px;
    width: 640px;
    border-radius: 20px;
    padding-left:10px ;
    margin-top: -15%;
    padding-right: 50px;
}
.hotask h3{
    font-size: 25px;
}
.horem h1{
   color: rgb(47, 47, 243);
   font-weight: 500;
   font-size: 30px;
   margin-top: 1%;
}
.sub1 p{
    width: 220px;
    margin-top: -2%;
    border-right: 1px solid black;
    font-size: 13px;
}
.sub{
    display: flex;
    flex-direction: row;
    
}
.sub2{
    margin-top: -1%;
    margin-left: 5%;
    border-right: 1px solid black;
    width: 150px;
    height: 40px;
}
.sub2 p{
    margin-top: -1%;
    margin-left: 2%;
    font-size: 14px;
}
.btn11{
    margin-left: 20%;
    height: 35px;
    width: 120px;
    background-color: #fbc583;
    border: none;
    border-radius: 6px;
    color: rgb(135, 94, 18);
    transition: 400ms;
}
.btn11:hover{
    transform: scale(1.08);
    background-color: #e0a358;
}
.sub3{
    width: 200px;
}
span{
    color: rgb(174, 167, 167);
}

.imgc{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 130%;
    margin-left: -1%;
}
.ac{
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    margin-top: -2%;
}
.ac h1{
    font-size: 15px;
}
.ac p{
    font-size: 13px;
    margin-top: -4%;
}
.hoimg{
    width: 50px;
    height: 50px;
    margin-left: -40%;
}
.mn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.mn1{
    width: 170px ;
    height: 200px;
    background-color: rgb(249, 252, 148);
    border-radius: 15px;
    text-align: center;    
}
.mn h3{
    font-size: 16px;
    font-weight: 600;   
}
.mn p{
    font-size: 12px;
    font-weight: 500;
}
.mn4{
    width: 170px ;
    height: 200px;
    background-color: rgb(154, 249, 162);
    border-radius: 15px;
    text-align: center;
}
.mn2{
    width: 170px ;
    height: 200px;
    background-color: rgb(255, 199, 199);
    border-radius: 15px;
    text-align: center;
}
.mn3{
    width: 170px ;
    height: 200px;
    background-color: rgb(255, 219, 153);
    border-radius: 15px;
    text-align: center;
}
.btn12{
    width: 110px;
    height: 35px;
    color: white;
    background-color: rgb(194, 59, 253);
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 400ms;
}
.btn12:hover{
    transform: scale(1.07);
    background-color: rgb(126, 41, 162);
}
.hbell{
    width: 20px;
    height: 20px;
    padding: 17px 17px;
    border-radius: 20px;
    margin-top: -23%;
    margin-left: 90%;
    background-color: rgb(105, 50, 147);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 400ms;
}
.hbell:hover{
    transform: scale(1.1);
}
.lin1{
    color: rgb(129, 129, 129);
    font-weight: 300;
    text-decoration: none;
    transition: 400ms;
    width: 190px;
}
.lin1:hover{
    transform: scale(1.1);
    color: rgb(213, 130, 238);
    border-right: 3px solid rgb(213, 130, 238);
}